<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>Headphone Button</title>
    <link rel="stylesheet" href="css/style.css" />
  </head>
  <body>
    <object
      data="/svg/normal2/normal.svg"
      type="image/svg+xml"
      id="svgobj"
      width="480"
    ></object>
    <audio id="mplay">
      <source src="music/budda.mp3" type="audio/mp3" />
    </audio>
    <script src="/script/jquery-3.1.1.js" type="text/javascript"></script>
    <script src="http://cdn.jsdelivr.net/mojs/latest/mo.min.js"></script>
    <script src="/script/action.js" type="text/javascript"></script>
  </body>
</html>
